body{
    margin: 0px;
    padding: 0px;
    margin-top: 0%;
}
ul{
    list-style: none;
    background-color: black;
    color: azure;
    
}
ul li{
    display: inline-block;
    padding: 10px;
}
ul li:hover{
    background-color: rgb(53, 239, 20);
}
ul li:hover .downbar{
    display: block;
    position: absolute;
    margin-left: -0.3cm;
    margin-top: 0.3cm;
    /* background-color: rgb(128, 103, 71); */
}
.downbar ul {
    margin: 0%;
    padding: 0%;
} 
.downbar ul li{
    display: block;
    
    }
.downbar{
    display: none;
}
.downbar-course ul li  {
    display: block;
     margin-left: -0px;
    margin-top: 0.1cm;
    padding-left: -0.5cm; 
}

ul li:hover .downbar-course{
    display: block;
    position: absolute;
    margin-left: -0px;
    margin-top: 0.1cm;
    padding-left: -0.5cm; 
}
.downbar-course ul {
    margin: 0%;
    padding: 0%;
    display: block;
}
    .downbar-course{
        display: none;
    }

    ul li:hover.downbar-course { 
    padding-left: 10px;
    margin-left: -0.10cm;  
    display: block; 
    margin-top: 0.2cm;
}
 a {
    text-decoration: none;

}
.con{
    display: block;
}
.con ul li{
    display: block;
    position: absolute;
    margin-top: 2px;
}
.main{
    background-color: aquamarine;
    margin-top: 0%;
}